extends ../layouts/common

block content
    h1
        span.mr-3 User List 
        a.btn.btn-primary(href="/users/create") NewUser
    .d-flex.align-items-center
        form.ml-auto(action="/users/search", method="GET")
            input(name ="q",type="text")
            button.btn.btn-primary.ml-2 Search

    table.table
        tr
            th Name 
            th Phone 
            th Actions
        each user in users
            tr
               td= user.name
               td= user.phone
               td
                a.btn-light(href='/users/' + user.id) View